<header class='top-page-header'>
  <div class= "top_head_logo">
    <%= link_to "Solo_Match", "/", class: "head_logo" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <ul><%= link_to 'イベントを探す', "#", class: "event-list" %></ul>
      <ul><%= link_to '会場を見る', "#", class: "venue-list" %></ul>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.user_name, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>